.node {
  position: absolute;
  user-select: none;
  overflow: visible;
  
}

.node textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  resize: vertical;
  overflow: hidden;
  background: transparent;
  border: 2px solid rgba(0, 0, 100, 0.5);
  outline: none;
  padding: 4px;
  box-sizing: border-box;
}

