.node {
  position: absolute;
  user-select: none;
  overflow: visible;
  
}

.node-textarea {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  resize: none;
  background: #fff;
  border: 2px solid #000;
  outline: none;
  padding: 4px;
  box-sizing: border-box;
}

