body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  /* dark theme */
  /* color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87); */

  color-scheme: light;
  color: rgba(0, 0, 0, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#app {
  /* dark theme */
  /* background-color: #212228;
    background-image: linear-gradient(#292a30 0.1em, transparent 0.1em),
        linear-gradient(90deg, #292a30 0.1em, transparent 0.1em); */

  background-color: #f0f0f0;
  background-image:
    linear-gradient(#e0e0e0 0.1em, transparent 0.1em),
    linear-gradient(90deg, #e0e0e0 0.1em, transparent 0.1em);

  background-size: 4em 4em;
  height: 100vh;
  position: relative;
  overflow: auto;
}
