.style-panel{
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 400px;
    align-items: center;
    padding: 8px;
    background-color: #f0f0f0;
    border: 2px solid #000;
    border-radius: 10px;

    z-index: 100;
}